<% if(papers){
papers.forEach(function(paper,index) { %>
<div class="middle">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				<a href="/paper/paper._id">
					<%= paper.title %></a>
			</h3> <i class="fa fa-user"></i>
			<a href="/user?name=<%= paper.author %>
				">
				<%= paper.author %></a>
			<%=paper.time%></div>
		<div class="panel-body">
			<p><%- paper.content %></p>
			<% if(paper.image){ %>
				<img src="/upload/<%= paper.image %>" alt="<%= paper.image %>" class="img-thumbnail">
			<% } %>					
		</div>
		<div class="panel-footer">	
			&nbsp;&nbsp; <i class="fa fa-eye"></i>
			<%=paper.pv%>
			&nbsp;&nbsp;
			<i class="fa fa-comments"></i>
			<%=paper.comments.length%>
		</div>
	</div>
</div>
<% })} %>
<% include _index_pagination.ejs %>