<% if(papers){
papers.forEach(function(paper,index) { %>
<div class="middle">
	<div class="panel">
		<div class="panel-heading">
			<a href="/user?name=<%= paper.author %>">
				<img src="/images/headImg.png" alt="" style="width: 40px;height: 40px;">
				<%= paper.author %>
			</a>
			<a href="/paper/<%- paper._id%>" class="shake shake-rotate">
				<%= paper.title %></a>
			
			<%=paper.time%>
		</div>
		<div class="panel-body">
			<p><%- paper.content %></p>
			<% if(paper.image){ %>
				<img src="/upload/<%= paper.image %>" alt="<%= paper.image %>" class="img-thumbnail">
			<% } %>					
		</div>
		<div class="panel-footer">	
			&nbsp;&nbsp; <i class="fa fa-eye"></i>
			<%= paper.pv %>
			&nbsp;&nbsp;
			<a href="/paper/<%- paper._id%>/#comments"><i class="fa fa-comments"></i><%= paper.comments %></a>

		</div>
	</div>
</div>
<% })} %>
<% include _index_pagination.ejs %>