
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">用户列表</h1>
  <div class="row placeholders">
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>姓名</th>
          <th>注册时间</th>
          <th>邮箱</th>
          <th>文章</th>
          <th>回复</th>
          <th>用户</th>
          <th>操作</th>
          <th>查看</th>
        </tr>
      </thead>
      <% users.forEach(function(users,index){  %>
      <tbody>
        <tr class="users-id-<%= users.id  %>">      
          <td><%= users.name %></td>
          <td><%= time %></td>
          <td><%= users.email %></td>
          <th><%= users.papers %></th>
          <th>回复</th>
          <% if(users.role >= 50){ %>
          <td>管理员</td>
          <% }else if(user.role > 10 && user.role < 50){ %>
          <td>禁言用户</td>
          <% }else { %>
          <td>普通用户</td>
          <% } %>
          <% if(user.name !== users.name){ %>
            <td><button type="button" class="btn btn-danger userDel>" data-id="<%= users.id %>">删除</button>
          <% }else{ %>
            <td><button type="button" class="btn btn-danger userDel disabled" data-id="<%= users.id %>">删除</button>
          <% } %>
		  </td>
		  <td><button type="button" class="btn btn-primary ">查看</button></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        	<h3>确定删除此用户</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" >确定</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascripts/user_list.js"></script>
