<div class="container">
		<h1>文章详情页</h1>
		<% if(paper){ %>
		<div class="panel panel-default">
		  <div class="panel-heading">
			  <h3 class="text-center"><%= paper.title %></h3>
			  <% if(user.name == paper.author){ %>
			  	<a class="btn btn-info" href="/edit?author=<%= paper.author %>&title=<%= paper.title %>">编辑</a>&nbsp;&nbsp;
			  	<a class="btn btn-danger" href="/delete?author=<%= paper.author %>&title=<%= paper.title %>">删除</a>
			  <% }else{ %>
			  	<a href="/reprint?title=<%= paper.title %>&author=<%= paper.author %>" title = "">转载此文</a>
			  <% } %>
			  	作者：<a href='/user?name=<%=paper.author%>'><%=paper.author%></a>
			  	<span class="badge">
			  		<%=paper.time%>&nbsp;|&nbsp;阅读：<%=paper.pv%>&nbsp;|&nbsp;评论：<%=paper.comments.length%>
			  	</span>	
		  </div>
		  <div class="panel-body">
		    <%- paper.content%>
		  </div>
		</div>			
		<% } %>
	<% var comments = paper.comments;
		if(comments.length)
			comments.forEach(function(comment,index){ %>
	<div class="row">
	  <div class="col-sm-8 col-md-8">
	    <div class="thumbnail">
	      <div class="caption">
	        <h3></h3>
	        <p>评论内容：<%- comment.content %></p>
	        <p>评论人：<%- comment.name %></p>
	        <p>评论日期：<%= comment.time %></p>
	        <% if(user.name == comment.name){ %>
	        <p><a href="/deleteComment" class="btn btn-danger" role="button">删除</a></p>
	        <% }else{ %>
			<p><a href="#" class="btn btn-default" role="button">回复</a></p>
	        <% } %>
	      </div>
	    </div>
	  </div>
	</div>
	<% }) %>

<!-- 	<button type="submit" class="btn btn-primary">添加评论</button> -->
	<div class="col-md-6">
		<form action="/comment" method="post" class="form-horizontal" accept-charset="utf-8">
			<div class="form-group">
				<label class="col-md-3 col-sm-6 control-label" for="">评论人：</label>
				<div class="col-md-4">
					<input class="form-control" type="text" name="name" value='<%=user.name%>'>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-3 col-sm-6 control-label">文章标题：</label>
				<div class="col-md-4">
					<input class="form-control" type="text" name="title" value="<%= paper.title%>">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-3 col-sm-6 control-label">文章作者：</label>
				<div class="col-md-4">
					<input class="form-control" type="text" name="author" value="<%= paper.author%>">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-3 col-sm-6 control-label">评论时间：</label>
				<div class="col-md-4">
					<input class="form-control" type="text" value='2015'>
				</div>
			</div>
			<textarea class="form-control" name="content" rows="8" cols="100" ></textarea>
			<button class="btn btn-primary" type="submit" >提交评论</button>
		</form>
	</div>
</div>