<div class="paper-detail container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<!-- 显示文章内容 -->
		<% if(paper){ %>
			<div class="panel">
			  <div class="panel-heading">
				  <h3 class="text-center"><%= paper.title %></h3>
			  </div>
			  <div class="panel-body">
			    <p><%- paper.content%></p>
			    <% if(paper.image){ %>
			    <img src="/upload/<%= paper.image %>" alt="<%= paper.image %>" class="img-thumbnail">
			    <% } %>
			  </div>
			  <div class="panel-footer">
			  	<% if(user){ %>
			  	  <% if(user.name == paper.author){ %>
			  	  	<a href="/edit?author=<%= paper.author %>&title=<%= paper.title %>"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>&nbsp;&nbsp;
			  	  	<a href="/user/paper/delete?author=<%= paper.author %>&title=<%= paper.title %>"  title="删除"><i class="fa fa-trash"></i>&nbsp;删除</a>
			  	  <% }else{ %>
			  	  	 <a href="/reprint?title=<%=paper.title%>&author=<%=paper.author%>"><i class="fa fa-share"></i>分享</a>
			  	  <% } %>
			  	<% }else{ %>
			  		作者：<a href='/user?name=<%=paper.author%>'><%=paper.author%></a>
			  	  	<span class="badge">
			  	  		<%=paper.time%>&nbsp;|&nbsp;阅读：<%=paper.pv%>&nbsp;|&nbsp;评论：<%=comments.length%>
			  	  	</span>
			  	<% } %>
			  </div>
			</div>			
		<% } %>
		
	<!-- 评论区 -->
	
			<div class="detaile-content">
				<!-- head -->
				<div class="panel">		
					<!-- 评论显示区 -->
					<div class="panel-body">
						<ul class="media-list" id="mediaList">
							<% if(comments) 
								comments.forEach(function(comment){%>
									<% if(comment.from){ %>
										<li class="media">
											<div class="media-left">
												<img src="/images/headImg.png" alt="" class="media-object" style="width: 40px;height: 40px;">
											</div>
											<div class="media-body">
												<h4 class="media-heading"><%= comment.from.name %></h4>
												<p><%- comment.content %></p>
												<span class="createAt"><%= moment(comment.meta.updateAt).format('MM-DD HH:mm') %></span>
												&nbsp;&nbsp;&nbsp;&nbsp;
												<a href="#comments" class="comment" data-cid="<%= comment._id %>" data-tid="<%= comment.from._id %>">回复</a>
												<% if(user && comment.from.name === user.name){ %>|
													<a href="javascript:;" class="comment-del" data-cid="<%= comment._id %>">&nbsp;<i class="fa fa-trash"></i>&nbsp;删除</a>
												<% } %>
												<% if(comment.reply && comment.reply.length > 0) 
													comment.reply.forEach(function(reply) {%>
														<div class="media">
															<div class="media-left">
																<img src="/images/headImg.png" alt="" class="media-object" style="width: 30px;height: 30px;">
															</div>
															<div class="media-body">
																<h4 class="media-heading">
																	<%= reply.from.name %>
																	<span> &nbsp;@&nbsp;<%= reply.to.name %></span>
																</h4>
																<p><%- reply.content %></p>
																<span class="createAt"><%= moment(comment.meta.updateAt).format('MM-DD HH:mm') %></span>
																&nbsp;&nbsp;&nbsp;&nbsp;
																<a href="#comments" class="comment" data-cid="<%= comment._id %>" data-tid="<%= reply.to._id %>">回复</a>
																<% if(user && reply.from.name === user.name){ %>|
																	<a  href="javascript:;" class="comment-del" data-cid="<%= comment._id %>" data-did="<%= reply._id %>"> &nbsp;<i class="fa fa-trash"></i>&nbsp;删除</a>
																<% } %>
															</div>
														</div>
												<% }) %>
											</div>
										<hr>
										</li>
									<% } %>
							<% }) %>
						</ul>
					</div><!-- 评论显示区 -->		
					<!-- 输入评论区 -->
					<div class="panel-heading">
						<h4>评论区</h4>
						<div id="comments">
							<% if(paper){ %>
								<form method="POST" action="/comment" id="commentForm">
									<input  type="hidden" name="comment[paper]" value="<%= paper._id %>">
									<!-- <% if(user){ %> -->
										<input  type="hidden" name="comment[from]" value="<%= user._id %>">
									<!-- <% } %> -->
									<div class="form-group">
										<textarea id="commentContent" name="comment[content]" class="form-control"></textarea>
									</div>
									<button class="btn" type="submit">提交</button>
								</form>
							<% } %>
						</div>
					</div><!-- 输入评论区 -->
				</div>
			</div>
		</div>
	</div>
</div>

