<div class="container-fluid profile-background">
</div>

<!-- 个人信息展示区 -->
<div class="profile-navbar container-fluid">
	<div class="container">
		<div class="row">
		<div class="col-md-1 col-md-offset-1 profile-image "><img class="img-circle" src="/images/headImg.png"></div>
		<div class="col-md-1 profile-name">@<%= user.name %></div>
			<div class="col-md-4 profile-navbar-items">
				<ul>
					<li><a href="#"><span>文章</span><span><%= paperCount %></span></a></li>
					<li><a href="#"><span>喜欢</span><span>0</span></a></li>
					<li><a href="#"><span>关注</span><span>0</span></a></li>
				</ul>
			</div>
			<div class="col-md-2 col-md-offset-2 user-edit">
				<a href="/user/setting">编辑个人资料</a>
			</div>
		</div>
	</div>
</div>
<!-- 文章展示区 -->
<div class="container profile-paper">
	<div class="row">
		<div class="user-paper-list col-md-7 col-md-offset-2">
			<div class="panel">
				<div class="panel-heading">
				<h4>个人发表文章记录</h4>
				</div>
			</div>
			<% if(papers){ 
			papers.forEach(function(paper,index){ %>
			<div class=" panel">
				<div class="panel-heading">
					<a href="/paper/<%- paper._id%>"><%= paper.title %>&nbsp;&nbsp;</a>
					<!-- <i class="fa fa-user"></i> -->
					<span><%= moment(paper.meta.createAt).format('YYYY MM DD HH:mm')%></span>
				</div>
				<div class="panel-body">
					<p>
						<%- paper.content %></p>
						<% if(paper.image){ %>
							<img src="/upload/<%= paper.image %>" alt="<%= paper.image %>" class="img-thumbnail">
						<% } %>
					<p>
						&nbsp;&nbsp; <i class="fa fa-eye"></i>
						<%=paper.pv%>
						&nbsp;&nbsp;
						<a href="/paper/<%- paper._id%>/#comments">
							<i class="fa fa-comments"></i>
						</a>
						&nbsp;&nbsp;
						<a class="uPdelete" data-id="<%- paper._id %>">删除</a>
					</p>
				</div>
			</div>
			<% })} %>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <h3>推荐关注</h3>
			    Panel content
			  </div>
			  <div class="panel-footer">在nljshoxbb上投放广告</div>
			</div>
		</div>
	</div>
	<% include _user_pagination.ejs %>
</div>

<div class="popuper">
	<div class="pop-wrap">
		<header class="pop-header">
			<h3>警告</h3>
		</header>
		<section class="pop-content">
			<p>确定要删除此文章吗</p>
		</section>
		<section class="pop-control">
			<input type="button" class="confirm" value="确定">
			<input type="button" class="cancel" value="取消">
		</section>
	</div>
</div>
